@use "colors" as *;

.calculation-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 2rem;

    > :last-child {
        margin-top: auto;
    }
}

.speed-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.field-wrapper {
    display: grid;
    gap: 0.25rem;
}

.title {
    font-size: 0.625rem;
    color: $text-color;
}