@use "colors" as *;

@mixin border {
    border: 0.065rem solid $bordor-color;
    border-radius: 0.25rem;
}

@mixin selectValue {
    box-sizing: content-box;
    display: block;

    width: 2ch;
    padding: 0.25rem;

    text-align: center;
}

@mixin valueStyles {
    font-size: 1.75rem;
    color: $value-color;
}