@use "colors" as *;

body {
    display: flex;
    flex-direction: column;

    height: 100vh;

    padding: 0.5rem;
    gap: 1.25rem;

    font-family: sans-serif;
    background-color: $background-color;
}

.calculation-menu-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.25rem;

    > :last-child {
        margin-top: auto;
    }
}

.speed-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}