@use "colors" as *;

body {
    display: grid;

    padding: 0.5rem;
    gap: 1rem;

    font-family: sans-serif;

    background-color: $background-color;
}

@media (min-width: 500px) {
    body {
        padding: 1rem;
    }
}

button {
    cursor: pointer;
}

::selection {
    color: $value-color;

    background-color: $line-color;
}