// $background-color: #17171f;
$background-color: white;

$select-color: #2c2c34;

$hover-color: #37373f;

$line-color: gray;

$border-color: #2f2f37;

$value-color: #f7f7ff;

$text-color: gainsboro;

$label-color: #6f6f7f;

$accent-color: lime;