@use "colors" as *;

.calculation-menu-container {
    display: flex;
    flex: 1;

   justify-content: center;
}

.calculation-menu-wrapper {
    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 3.5rem;
}

.speed-wrapper {
    display: grid;

    gap: 0.5rem;
}

.dividing-line {
    width: 100%;
    height: 0.065rem;
    
    background-color: $border-color;
}

.field-wrapper {
    display: grid;

    gap: 0.25rem;

    color: $label-color;
}

.title {
    font-size: 1rem;
    font-weight: bold;
}

.unit {
    font-size: 0.875rem;
}







