.calculation-menu-container {
    display: flex;

    justify-content: center;

    background-color: cyan;
}

.calculation-menu-wrapper {
    /* Zorg ervoor dat input niet groter wordt dan nodig is */

    background-color: blue;
}

.speed-wrapper {
    display: grid;

    gap: 1rem;
}







