@use "colors" as *;
@use "mixins" as *;

.value-wrapper {
    box-sizing: content-box;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    width: 11ch;

    padding: 0.5rem clamp(0.25rem, -2.5000rem + 8.8000vw, 3rem);

    font-size: 2.5rem;
    color: $value-color;

    @include border;

    .select,
    .distance-value {
        font-size: inherit;
        /*Hiervan kan select-value weer van inheritten*/
        color: inherit;
    }

    .distance-value {
        /*Ervoor zorgen dat hij niet buiten het veld gaat*/
        width: 100%;

        text-align: center;
    }
}

.select-value,
.distance-value,
.output-value {
    @include value;
}

.select-value,
.output-value {
    @include selectValue;
}

.select-value {
    border-radius: 0.25rem;
}




