.value-wrapper {
    display: flex;

    padding: 0.25rem;

    font-size: 1.25rem;

    background-color: red;

    .select,
    .distance-value {
        font-size: inherit;
    }

    .distance-value {
        /*Ervoor zorgen dat hij niet buiten het veld gaat*/
        width: 100%;
    }
}

.select-value,
.distance-value,
.output-value {
    display: block;
    padding: 0.25rem;
}




